.Login {
    display: inline-grid;
    margin:10px;
    padding:10px;

    &__error {
        color: red;
        font-weight: bold;
        margin-top: 5px;
    }

    &__loaderContainer{
        height:100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}