.CardHeader {
            position: absolute;
            top: 5px;
            right: 5px;
            margin:3px;
            padding:3px;

            button {
                border-radius: 8px;
                border-width: 1;
                cursor: pointer;
                display: inline-block;
                margin: 2px;
                padding: 5px 6px;
                text-align: center;
                vertical-align: baseline;
                white-space: nowrap;
            }
}